<div ng-controller="dragDropController">
    <table>
        <tr>
            <h3>L3C1</h3>
            <p>Translate the following code into a flowchart! Click into the cell to select the placement of the code line!</p>
        </tr>
        <tr>
            <td>
                <!-- Der Code -->
                <div class="testBorder">
                    1 i = 1<br>
                    2 while i &lt; 6:<br>
                    3 if i == 3:<br>
                    4 break<br>
                    5 i += 1
                </div>
            </td>
            <td class="testBorder containerTest">
                <div class="registerCard">

               
                <div class="tabContainer">
                    <button ng-click="selectedTab = 'codeLines'; selectedTabChanged()" ng-class="{'selectedTabButton': selectedTab === 'codeLines'}">Code Lines</button>
                    <button ng-click="selectedTab = 'arrows'; selectedTabChanged()" ng-class="{'selectedTabButton': selectedTab === 'arrows'}">Arrows</button>
                </div>

            
                <div ng-show="selectedTab === 'codeLines'">
                    <div ng-repeat="codeLine in availableCodeLines">
                        <button class="codeLineButton" ng-click="selectCodeLine(codeLine)" ng-class="{'selected': selectedCodeLine === codeLine}" ng-disabled="codeLine.disabled">{{codeLine.text}}</button>
                    </div>
                </div>
                <div ng-show="selectedTab === 'arrows'">
                    <div>
                        <button ng-click="selectArrow('arrow_down', 1)" ng-class="{'selected': selectedArrow === 'arrow_down' && selectedArrowIndex === 1}" class="arrowButton_down" ng-disabled="selectedArrow.disabled"></button>
                        <button ng-click="selectArrow('arrow_down', 2)" ng-class="{'selected': selectedArrow === 'arrow_down' && selectedArrowIndex === 2}" class="arrowButton_down"></button>
                        <button ng-click="selectArrow('arrow_down', 3)" ng-class="{'selected': selectedArrow === 'arrow_down' && selectedArrowIndex === 3}" class="arrowButton_down"></button>
                        <button ng-click="selectArrow('arrow_down', 4)" ng-class="{'selected': selectedArrow === 'arrow_down' && selectedArrowIndex === 4}" class="arrowButton_down"></button>
                        <button ng-click="selectArrow('arrow_loop')" ng-class="{'selected': selectedArrow === 'arrow_loop'}" class="loopButton"></button>
                        <button ng-click="selectArrow('arrow_end')" ng-class="{'selected': selectedArrow === 'arrow_end'}" class="endButton"></button>
                    </div>
                </div>
            </div>
                <div class="tabContent" ng-hide="selectedTab === 'arrows'">
                    <div>
                        <span class="processButtonSpace">
                            <button ng-click="selectSymbol('process')" ng-class="{'selected': selectedSymbol === 'process'}" class="processButton">Process</button>
                        </span>
                        <button ng-click="selectSymbol('decision')" ng-class="{'selected': selectedSymbol === 'decision'}" class="decisionButton"><span>Decision</span></button>
                    </div>
                </div>

                <div class="flowChartOperationButtons">
                    <!--<button class="placeButton" ng-click="placeInFlowchart()" ng-disabled="!selectedZone || !selectedCodeLine || (!selectedSymbol && !selectedProcess)">Place in Flowchart</button>-->
                    <button class="placeButton" ng-click="placeInFlowchart()" ng-disabled="!((selectedZone && selectedCodeLine && selectedSymbol) || (selectedZone && selectedArrow))">Place in Flowchart</button>


                    <button class="resetButton" ng-click="resetWrongAnswers()" ng-disabled="(wronglyPlacedCodeLines.length === 0) && (wronglyPlacedArrows.length === 0)">Reset Wrong Answers</button>

                </div>
            </td>
            <!-- Flowchart - Visualisierung-->
            <td>
                <table>
                    <tr>
                        <td></td>
                        <td class="start-end">Start</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="flowchart-cell 1 arrowField" ng-class="{'selected-zone': selectedZone == '1'}" ng-click="selectZone('1')" id="1">1
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="1_img">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="flowchart-cell 2" ng-class="{'selected-zone': selectedZone == '2'}" ng-click="selectZone('2')" id="2">2
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="2_img">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="flowchart-cell 3 arrowField" ng-class="{'selected-zone': selectedZone == '3'}" ng-click="selectZone('3')" id="3">3
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="3_img">
                        </td>
                        
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="flowchart-cell 4" ng-class="{'selected-zone': selectedZone == '4'}" ng-click="selectZone('4')" id="4">4
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="4_img">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="flowchart-cell 5 arrowField" ng-class="{'selected-zone': selectedZone == '5'}" ng-click="selectZone('5')" id="5">5
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="5_img">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="flowchart-cell 6.1 arrowField" rowspan ="3" ng-class="{'selected-zone': selectedZone == '6.1'}" ng-click="selectZone('6.1')" id="6.1">6.1
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="6.1_img">
                        </td>
                        <td class="flowchart-cell 6.2" ng-class="{'selected-zone': selectedZone == '6.2'}" ng-click="selectZone('6.2')" id="6.2">6.2
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="6.2_img">
                        </td>
                        <td class="flowchart-cell 6.3 arrowField" ng-class="{'selected-zone': selectedZone == '6.3'}" ng-click="selectZone('6.3')" id="6.3">6.3
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="6.3_img">
                        </td>
                    </tr>
                    <tr>
                        <!--<td class="flowchart-cell 7.1" ng-class="{'selected-zone': selectedZone == '7.1'}" ng-click="selectZone('7.1')" id="7.1">7.1</td>-->
                        <td class="flowchart-cell 7.2 arrowField" ng-class="{'selected-zone': selectedZone == '7.2'}" ng-click="selectZone('7.2')" id="7.2">7.2
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="7.2_img">
                        </td>
                        <td class="start-end">End</td>
                    </tr>
                    <tr>
                        <!--<td class="flowchart-cell 8.1" ng-class="{'selected-zone': selectedZone == '8.1'}" ng-click="selectZone('8.1')" ng-attr-id="'8.1'">8.1</td>-->
                        <td class="flowchart-cell 8.2 " ng-class="{'selected-zone': selectedZone == '8.2'}" ng-click="selectZone('8.2')" id="8.2">8.2
                            <img class="arrowInFlowchart" ng-src="/assets/Pfeil.png" alt="Pfeil" id="8.2_img">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="button-check-hint">
                <button ng-click="getHint()" ng-disabled="allHintsShown || hintButtonDisabled" class="button-with-progress">
                    <span class="hint-text">Hint</span>
                    <span ng-show="hintButtonDisabled" class="progress-bar-hint"></span>
                </button>
            </td>
        </tr>

    </table>
      
</div>