<div class="signup-container">
    <form *ngIf="(authService.isLoggedIn | async) === false" [formGroup]="signupForm" (ngSubmit)="onSubmitRegister()" class="signup-form">
      <div class="input-group">  
        <input type="text" formControlName="username" placeholder="Username">
      </div>  
      <div class="input-group">
        <input type="password" formControlName="password" placeholder="Password">
      </div>
        <button type="submit" class="signup-button">Sign Up</button>
      </form>
  </div>
  <div class="login-container">
    <form *ngIf="(authService.isLoggedIn | async) === false" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="login-form">
      <div class="input-group">
        <input type="text" formControlName="username" placeholder="Username">
      </div>
      <div class="input-group">
        <input type="password" formControlName="password" placeholder="Password">
      </div>
      <button type="submit" class="login-button">Log In</button>
    </form>
  </div>