<div class="login-container">
  <div class="login-heading">Register</div>
  <form *ngIf="(authService.isLoggedIn | async) === false" [formGroup]="signupForm" (ngSubmit)="onSubmitRegister()"
    class="signup-form">
    <div>
      <input class="login-input" type="text" formControlName="username" placeholder="Username">
    </div>
    <div>
      <input class="login-input" type="password" formControlName="password" placeholder="Password">
    </div>
    <div>

      <div class="disclaimer">
        <label>
          <input type="checkbox" formControlName="disclaimerAccepted">
        </label>
        Dear Participant,
        In the context of our research project we would like to investigate (((((((Something somethinng)))))))

        Therefore we have developed this web application. In the following you will use our intelligent programming
        tutor to try and solve different Python exercises.

        All data is collected anonymously, it cannot be assigned to your person and will be treated strictly
        confidential.

        Thank you for your participation.
      </div>
    </div>
    <button type="submit" class="login-button" [disabled]="!signupForm.get('disclaimerAccepted')?.value">Sign Up</button>
  </form>
</div>
<div class="login-container">
  <div class="login-heading">Log in</div>
  <form *ngIf="(authService.isLoggedIn | async) === false" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()"
    class="login-form">
    <div>
      <input class="login-input" type="text" formControlName="username" placeholder="Username">
    </div>
    <div>
      <input class="login-input" type="password" formControlName="password" placeholder="Password">
    </div>
    <button type="submit" class="login-button">Log In</button>
  </form>
</div>