<div ng-controller="GapTaskController">
    <table class="task-body">
        <tr>
            <h3>F1C1</h3>
            <td colspan="2" class="td-task-description">Create a function named <b>'my_func()'</b> to fill the gap in line 1 and call this function to fill the gap in line 4:</td>
        </tr>
        <tr>
            <td colspan="2">
                <p class="code-style">
    <span>1   <input class="gap_input" type="text" ng-model="userAnswer1" ng-disabled="isAnswered1 && isCorrectAnswer1"
        ng-class="{'correct-answer-gap': isCorrectAnswer1 && isAnswered1, 'incorrect-answer-gap': !isCorrectAnswer1 && isAnswered1}"
        placeholder="Enter code here" ng-change="checkGapAnswer1(userAnswer1, 'F1C1_1')" ng-blur="provideFeedback()"></span>
    2       print("Hello from a function")
    3   
    <span>4   <input class="gap_input" type="text" ng-model="userAnswer2" ng-disabled="isAnswered2 && isCorrectAnswer2"
        ng-class="{'correct-answer-gap': isCorrectAnswer2 && isAnswered2, 'incorrect-answer-gap': !isCorrectAnswer2 && isAnswered2}"
        placeholder="Enter code here" ng-change="checkGapAnswer2(userAnswer2, 'F1C1_2')" ng-blur="provideFeedback()"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td class="button-check-hint">
                <!--<button ng-click="checkGapAnswers(userAnswer1, userAnswer2)" class="check-button">Check</button>-->
                <button ng-click="getHint(userAnswer1,userAnswer2)" ng-disabled="allHintsShown || hintButtonDisabled" class="button-with-progress">
                    <span class="hint-text"> <i class="fas fa-lightbulb"></i>Hint</span>
                    <span ng-show="hintButtonDisabled" class="progress-bar-hint"></span>
                </button>
            </td>
        </tr>
    </table>
    <div class="hint-position">
        <div class="hint-navigation hint-text-gap-F1C1" ng-show="hintText">
            <div class="hint-text">{{ hintText }}</div>
            <div class="buttons" ng-show="!noButtonsOnFeedback">
                <button class="hint-button-prev" ng-click="previousHint()" ng-disabled="hintIndex <= 0">←</button>
                <button class="hint-button-next" ng-click="nextHint()" ng-disabled="hintIndex >= maxHintIndex">→</button>
            </div>
            <button ng-show="noButtonsOnFeedback && hintsGiven" ng-click="backToHints()">Back to Hints</button>
        </div>
    </div>
</div>