<div ng-controller="FreeCodeTaskController">
    <table class="task-body">
        <tr>
            <h3>V2C2</h3>
            <td colspan="2" class="td-task-description">
                The program tries to print the variable called <b>'c'</b> but it does not work and provides an error.
                Find the error(s) and correct the code by correcting the body of the <b>function.</b> <br>
                Write the corrected code in the code editor. 'c' is already initialized.
                <span class="code-style">
    1   c = 1
    2
    3   def add():
    4       c = c+2
    5       print(c)
    6
    7   add()
                </span>
            </td>
            
        </tr>
        <tr style="height: 10px;"></tr>
        <tr class="freeCodeInput">
            <td >
                <div 
                    ng-class="{'correct-answer': isCorrectAnswer && isAnswered, 'incorrect-answer': !isCorrectAnswer && isAnswered}">
                    <script type="mpy-editor" env="test_env" setup>
                        c = 1
                    </script>
                    <script id="V2C2" type="mpy-editor" env="test_env" ng-if="!correctAnswerAfterHints">
                        def add():
                            c = c+2
                            print(c)
                        add()
                    </script>
                    <script id="V2C2" type="mpy-editor" env="test_env" ng-if="correctAnswerAfterHints">
                        def add():
                            global c
                            c = c+2
                            print(c)
                        add()
                    </script>
                </div>
            </td>

        </tr>
        <tr>
            <td class="button-check-hint">
                <button ng-click="checkFreeCodeAnswer()" class="check-button disabled" ng-disabled="isCorrectAnswer && isAnswered"><i
                        class="fas fa-check" ></i>Check</button>
                <button ng-click="getHint()" ng-disabled="allHintsShown || hintButtonDisabled"
                    class="button-with-progress">
                    <span class="hint-text"> <i class="fas fa-lightbulb"></i>Hint</span>
                    <span ng-show="hintButtonDisabled" class="progress-bar-hint"></span>
                </button>
            </td>
        </tr>
    </table>
    <div class="hint-position">
        <div ng-class="{'hint-text-freeCode-V2C2': hintIndex === 3, 'hint-text-freeCode': hintIndex !== 3}" ng-show="hintText" class="hint-navigation">
        <!--<div class="hint-navigation hint-text-V2C2" ng-show="hintText">-->
            <!--<div class="hint-text">{{ hintText }}</div>-->
            <div class="hint-text" ng-bind-html="hintText | toTrusted"></div>
            <div class="buttons" ng-show="!noButtonsOnFeedback">
                <button class="hint-button-prev" ng-click="previousHint()" ng-disabled="hintIndex <= 0">←</button>
                <button class="hint-button-next" ng-click="nextHint()"
                    ng-disabled="hintIndex >= maxHintIndex">→</button>
            </div>
            <button ng-show="noButtonsOnFeedback && hintsGiven" ng-click="backToHints()">Back to Hints</button>
        </div>
    </div>
</div>