<p>Welcome, in the following you will try out an intelligent programming tutor.</p>
<div>
Dear Participant,
In the context of our research project we would like to investigate (((((((Something somethinng)))))))

Therefore we have developed this web application. In the following you will use our intelligent programming tutor to try and solve different Python exercises.

All data is collected anonymously, it cannot be assigned to your person and will be treated strictly confidential.

Thank you for your participation.
</div>

<img
src = "assets\welcomecat.jpg"
alt = "Image"
width = '540px'
>

<button (click)="redirecttoLogin()">Login or Sign up</button>
