
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<table>
        <tr>
            <td colspan="2">Fortschrittsanzeige</td>
        </tr>
        <tr>
            <td rowspan="2">Navigation</td>
            <td>
                <img src="/angularApp/src/app/angularjs/img/pythonTutor.jpg" alt="Python Tutor Image" class="python-tutor">
            </td>
        </tr>
        <tr ng-if="currentTask">
            <td colspan="2">
                <div ng-include="currentTask.templateUrl"></div>
                <div>
                    <button ng-click="prevTask()" ng-disabled="isPrevDisabled()">Previous</button>
                    <button ng-click="nextTask()" ng-disabled="isNextDisabled()">Next</button>
                </div>
            </td>
        </tr>
    </table>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
