<div ng-controller="FreeTextTaskController">
    <tr>
        <h3>V3C1</h3>
        <td colspan="2">Given the following code, what is the output? Provide the answer in a free text field.</td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="code-style">
                1 a=100
                2 a=a+1
                3 print(a)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <div ng-class="{'correct-answer': isCorrectAnswer && isAnswered, 'incorrect-answer': !isCorrectAnswer && isAnswered}">
                <input type="text" ng-model="userAnswer" ng-disabled="isAnswered && isCorrectAnswer">
            </div>
        </td>
        <td>
            <button ng-click="checkFreeTextAnswer(userAnswer)">Check</button>
        </td>
    </tr>
</div>
    